<footer class="bg-header text-primary px-5 border-primary border-1 h-15 flex items-center justify-between" id="footer">
<div class="text-secondary text-sm">© 2025 App Portal. All rights reserved.</div>
<div class="flex gap-2">
    <a href="/" class="hover:underline text-secondary">About</a>
    <a href="/" class="hover:underline text-secondary">Privacy</a>
    <a href="/" class="hover:underline text-secondary">Terms</a>
</div>
</footer>