---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
import { ChevronRight } from 'lucide-static';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="min-h-dvh">
        <div class="h-120 flex flex-col gap-2 items-center justify-center ">
            <h1 class="text-2xl font-bold text-center text-primary lg:text-5xl sm:text-4xl">Welcome to Your Productivity Hub</h1>
            <p class="text-center md:text-xl text-sm max-w-5/6 text-secondary">Empowering you to achieve more with tools designed to help you stay focused, productive, and organized.</p>
            <a href="/allapps" class="button-primary mt-2 flex flex-row px-4 py-2 text-center">Explore Apps<Fragment set:html={ChevronRight}/></a>
        </div>
    </div>
</Layout>
