---
import Layout from "../layouts/Layout.astro";
import Script from "../scripts/setting/settingsScripts.astro"
import "../styles/global.css"
import Security from "../components/settings/security.astro";
import Profile from "../components/settings/profile.astro";
import Notifications from "../components/settings/notifications.astro";
import Appearance from "../components/settings/appearance.astro";
---
<Layout>
    <div class="min-h-dvh">
            <div class="text-primary text-4xl font-bold p-4">Settings</div>
            <div class="flex flex-row">
                <div class="flex flex-col items-start p-3">
                    <button class="text-primary text-secondary p-2 text-[18px] cursor-pointer font-semibold" id="profile">Profile</button>
                    <button class="text-primary text-secondary p-2 text-[18px] cursor-pointer font-semibold" id="appearance">Appearance</button>
                    <button class="text-primary text-secondary p-2 text-[18px] cursor-pointer font-semibold" id="notifications">Notifications</button>
                    <button class="text-primary text-secondary p-2 text-[18px] cursor-pointer font-semibold" id="security">Security</button>
                </div>
                <div class="p-5">
                    <Appearance />
                </div>
            </div>
    </div>
    <Script/>
</Layout>