---
import ToggleBtn from "../microComponents/DarkModeBtn.astro"
import {ChevronLeft} from "lucide-static"
---
<div class="w-fit max-w-[40vw] hidden border-1 p-8 border-primary rounded" id="appearanceContainer">
    <div class="flex flex-col gap-2">
        <h2 class="text-primary font-bold text-2xl ">Appearance</h2>
        <p class="text-secondary">Customize the look and feel of your portal.</p>
    </div>
    <div class="py-5">
        <div class="flex flex-row gap-10 items-end justify-start">
            <div class="flex flex-col gap-1">
                <h2 class="text-primary font-semibold">Dark Mode</h2>
                <p class="text-secondary text-[16px]">Toggle between light and dark mode.</p>
            </div>
            <ToggleBtn id="darkModeToggle"/>
        </div>

    </div>
</div>
