---
import { UserRoundPen } from "lucide-static";
---
<div class="w-100 max-w-[70vw] hidden border-1 p-8 border-primary rounded text-primary" id="profileContainer">
    <div class="flex flex-col gap-4">
        <h1 class="text-2xl font-bold">Profile<button class="ml-3 cursor-pointer profile-edit" title="Edit Profile"><Fragment set:html={UserRoundPen}/></button></h1>
        <p class="text-sm text-secondary">Manage your profile settings.</p>
    </div>
    <div class="flex flex-col gap-4 mt-4">
        <div class="flex flex-col gap-1">
            <label for="displayName" class="text-ld font-semibold text-primary">Display Name</label>
            <label>Bruce Wayne</label>
        </div>
        <div class="flex flex-col gap-1">
            <label for="username" class="text-ld font-semibold text-primary">Username</label>
            <label>batman</label>
        </div>
        <div class="flex flex-col gap-1">
            <label for="email" class="text-ld font-semibold text-primary">Email</label>
            <label>brucewayne@wayne.org</label>
        </div>
    </div>
</div>