<button id="openSidemenu" class="group w-7 md:hidden cursor-pointer flex flex-col gap-1">
    <div class="button-primary w-3 group-hover:w-full rounded h-1 duration-300 ease-in-out"></div>
    <div class="button-primary w-6 group-hover:w-full rounded h-1 duration-300 ease-in-out"></div>
    <div class="button-primary w-5 group-hover:w-full rounded h-1 duration-300 ease-in-out"></div>
</button>